body{
    background-color: #000000;
    background-size: cover;
}
p, h1, h3, h4, h5, h6, :link{
	color: #ffffff;
	font-family: comic sans ms;
    text-align: center;
}
#links{
    text-align: center;
	font-size: 20px;  
    word-spacing: 10px;  
}
a:link, a:visited{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-family: comic sans ms;
    text-align: center; 
}
a:hover, a:active{
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    font-family: comic sans ms;
    text-align: center;
}
h2{
    color: #ffffff;
    font-family: comic sans ms;
    margin-left: 350px;
    
}
#heroimage{
 
    position: relative;
    width: 1200px;
    height: 600px;
    background-position: center center;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center!important;
    -webkit-box-pack: center!important;
    border-radius: 15px;
    left: 225px;
    right: 200px;


    
  
  
   

}
#comprar{
    position: relative;
    text-align: center;
    top: 100px;
    right: 350px;
    margin-left: 230px;
    

}